body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: #ebebeb;
    background-image: url('https://s.ytimg.com/yt/img/refresh/body_noise-vflp89Uii.png');
    background-repeat: repeat;
    background-size: 75px 75px;
    margin: 0;
}
h2 {
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: white;
    margin: 0 0 8px 0;
    padding: 14px;
    border-bottom: 1px solid rgba(119, 123, 122, 0.3);
    line-height: 30px;
}
img {
    display: block;
}
#loading {
    margin: auto;
}
#img, #oldimg {
    cursor: pointer;
    margin: auto;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
}
.instructions {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    padding: 5px;
    text-align: center;
    border-top: #666;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.5 );
}
.instructions span {
    border: 1px solid #666;
    padding: 3px 5px;
    font-family: courier, fixed;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    background-color: white;
}
.info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 5px 13px;
    list-style: none;
    z-index: 2;
}
.info li {
    float: right;
    display: block;
    padding: 0;
    margin: 0;
}
.info a {
    padding: 5px 0px 5px 8px;
    display: block;
    opacity: 0.5;
}
.info a:hover {
    opacity: 1;
}
.bubble {
    position: fixed;
    bottom: 38px;
    right: 4px;
    background-color: #333;
    width: 300px;
    z-index: 3;
    border-radius: 3px;
    color: white;
    padding: 10px;
    font-size: 90%;
    box-shadow: 0 0 5px 3px rgba( 255, 255, 255, 0.5 );
    display: none;
}
.bubble a {
    color: #a8cff3;
}
.bubble ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.selected a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.bubble:after {
    content: "▼";
    display: block;
    position: fixed;
    bottom: 25px;
    right: 14px;
    color: #333;
}
.bubble a.developers {
    font: 1.5em serif;
    float: right;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}
