body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: rgba(235, 235, 235, 1);
    background-image: url('https://s.ytimg.com/yt/img/refresh/body_noise-vflp89Uii.png');
    background-repeat: repeat;
    background-size: 75px 75px;
    margin: 0;
}
.content {
    background-color: rgba(235, 235, 235, 1);
    -webkit-transition: -webkit-transform 1s, opacity 1s, background-color 1s;
    -moz-transition: -moz-transform 1s, opacity 1s, background-color 1s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}
h2.title {
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    margin: 0 0 8px 0;
    padding: 14px;
    border-bottom: 1px solid rgba(119, 123, 122, 0.3);
    line-height: 30px;
    min-height: 30px;
}
img {
    display: block;
}
a img {
    border: 0;
}
#loading {
    text-align: center;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    display: none;
}
.progress {
    border: 1px solid #555;
    width: 200px;
    height: 10px;
    border-radius: 3px;
    margin: auto;
}
.progressbar {
    height: 10px;
    background: rgb(96,108,136); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */
    -webkit-transition: width 0.3s;
}
#loading img {
    display: block;
    margin: auto;
}
#loading .text {
    margin: 5px;
    height: 25px;
}
#img.pageflip, #oldimg.pageflip {
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transform-origin: 0 50%;
    -webkit-transform: perspective(1200px) rotateY(0deg);
}
#img, #oldimg {
    cursor: pointer;
    margin: auto;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    -webkit-transition: opacity 0.3s;
}
#oldimg {
    pointer-events: none;
}
