.instructions {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    padding: 5px;
    text-align: center;
    border-top: #666;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.5 );
}
.instructions span {
    border: 1px solid #666;
    padding: 3px 5px;
    font-family: courier, fixed;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    background-color: white;
}
.info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 5px 13px;
    list-style: none;
    z-index: 2;
    -webkit-transition: 0.2s;
}
.info li {
    float: right;
    display: block;
    padding: 0;
    margin: 0;
}
.info a {
    padding: 5px 0px 5px 8px;
    display: block;
    opacity: 1;
    position: relative;
    width: 15px;
    height: 15px;
}
.info a:hover {
    opacity: 1;
}
.selected a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#settings span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 1px 1px 0 0;
    background-color: black;
    float: left;
    position: relative;
    -webkit-transition-duration: 0.2s;
}
#settings:hover span:nth-child(1) {
    top: -2px;
    left: -2px;
}
#settings:hover span:nth-child(2) {
    top: -2px;
    left: 2px;
}
#settings:hover span:nth-child(3) {
    top: 2px;
    left: -2px;
}
#settings:hover span:nth-child(4) {
    top: 2px;
    left: 2px;
}
#reddit .circle {
    width: 6px;
    height: 6px;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 8px;
}
#reddit .arrow, #reddit .head {
    -webkit-transition-duration: 0.2s;
}
#reddit .arrow {
    width: 7px;
    display: block;
    border-bottom: 2px solid black;
    position: absolute;
    top: 12px;
    left: 13px;
    box-shadow: 0 0 1px 1px white;
}
#reddit .head {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    display: block;
    position: absolute;
    left: 18px;
    top: 9px;
}
#reddit:hover .arrow {
    left: 16px;
}
#reddit:hover .head {
    left: 21px;
}
